* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  gap: 10px;
  padding: 16px;
  background-color: antiquewhite;
  height: 100vh;
  grid-template-areas:
    "header"
    "board"
    "info"
    "footer";
  grid-template-rows: min-content min-content auto min-content;
}
body > * {
  margin: 1rem 0;
}

.game-info {
  grid-area: info;
}

footer {
  grid-area: footer;
}
header {
  grid-area: header;
  margin: 1rem 0;
}

#gameBoards {
  display: flex;
  gap: 16px;
  grid-area: board;
  padding: 16px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  justify-content: center;
}

/* TODO: dynamic sizing */
.boardContainer {
  width: max(300px, 500px);
  /* height: max(300px, 500px, 800px); */
  box-sizing: border-box;
  display: grid;
  background-color: aliceblue;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  aspect-ratio: 1/1;
  border: 2px black solid;
}

.boardCell {
  height: 1fr;
  /* min-height: 10px; */
  box-sizing: border-box;
  background-color: rgb(210, 202, 210);
  border: 1px rgb(0, 0, 0) solid;
  margin: 0;
  border-collapse: collapse;
}

.missedCell {
  background-color: red;
}

.hitCell {
  background-color: rgb(39, 172, 29);
  border: 2px rgb(0, 0, 0) solid;
}

p {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}
